
<section class="home-banner">
	<div id="home-banner" class="owl-carousel">	
		<div class="item bg-image" style="background-image:url(https://cdn.shopify.com/s/files/1/0556/1774/9162/files/Amber-Anais-Interiors-Slider.png?v=1617202518)">	
			<div class="valign">
				<div class="inner">
					<div class="container cw-1560">
						<div class="the-content">
							<p class="title">
								New Season Kitchen & Dining
							</p>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc magna turpis, fermentum vitae pretium in.
							</p>
							<a href="#" class="btn-black">
								Shop now
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


{% schema %}
{
	"name": "Home Banner",
	"settings": [],
	"presets": [
		{
			"name": "Home Banner",
			"category": "CUSTOM LAYOUT"
		}
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
